<!-- <h1>{{ title }}</h1> -->

<!-- <h1>{{ 1 + 1 }}</h1>

<h1>{{ 2 + 1 }}</h1> -->

<!-- 2. Contador App-->

<!-- <button (click)="numero = numero + 1"> + 1 </button>

<span>{{ numero }}</span>

<button (click)="numero = numero - 1"> - 1 </button> -->

<!-- 3. Métodos en el componente -->
<!-- <button (click)="acumular(2)"> + 1 </button>

<span>{{ numero }}</span>

<button (click)="acumular(-2)"> - 1 </button> -->

<!-- 4. Tarea con el contador -->
<!-- <h3>La base es: <strong>{{ base }}</strong></h3>

<button (click)="acumular(base)"> + {{ base }} </button>

<span>{{ numero }}</span>

<button (click)="acumular(-base)"> - {{ base }} </button> -->

<!-- 5. Crear un componente manualmente -->
<app-contador></app-contador>

<!-- 6. Componente de Heroe y separación de directorios
Cuando se crea un componente tiene que estar importado en el módulo más cercano.
-->
<!-- <app-heroe></app-heroe> -->
<!-- <app-listado></app-listado> -->

<!-- 7. Cambios en el template del componente -->